.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    background-color: aquamarine;
}
.menu a{
    display: block;
    text-decoration: none;
    padding: 50px;
    color: rgb(250, 62, 62);
    font-size: 20px;
}