.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    background-color: aquamarine;
}
.menu a{
    display: block;
    text-decoration: none;
    padding: 50px;
    color: rgb(250, 62, 62);
    font-size: 20px;
}

.logo{
    weight: 100px;
    height: 100px;
    border: 1px solid red;
}
.estilo{
    
    background-image: url(https://cdn.pixabay.com/photo/2021/11/13/18/02/lake-6791971_960_720.jpg);
    padding-bottom: 40px;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}